.navbar {
  border-radius: 0;
}

.navbar-toggle {
  padding: 15px;
}

.logo {
  position: relative;
  bottom: 7px;
}

.projects-list h2 {
  font-weight: normal;
  color: rgba(100, 100, 100, 0.5);
}

.projects-list li {
  opacity: 0.8;
  cursor: pointer;
}

.projects-list input {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid grey;
  border-radius: 0;
}

.project-title button {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: transparent;
  border: none;
}

.done {
  text-decoration: line-through;
  color: grey;
}

.task {
  cursor: move;
}

.error {
  width: 50%;
  margin: 2em auto;
}
