<template name="tasksList">
  <section class="tasks">
    <section class="heading">
      <h3><strong>{{projectTitle}}</strong>
      Tasks <button class="btn btn-warning delete_tasks_done"><span class="glyphicon glyphicon-trash"></span></button></h3>
    </section>

    <ul class="list-group">
      <div id="tasks">
        {{#if isOwner}}
          {{#each tasks}}
            {{> taskItem}}
          {{/each}}
        {{/if}}
      </div>

      <li class="list-group-item">
        <form class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control" id="newTask" name="newTask" placeholder="Add a Task">
          </div>
        </form>
      </li>
    </ul>
  </section>
</template>
